* {
	font-family: 'Raleway', sans-serif;
	font-weight: lighter;
	color: gray;
}

body {
	margin: 0;
	max-width: 1500px;
	min-width: 300px;
	margin: auto;
}

#sky {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: -999;
  background-color: #fdfdfd;
}

i {
	color: #F7CA18;
}

* {
	color: gray;
	text-decoration: none;
	-webkit-transition: all 0.5s ease; 
	-moz-transition: all 0.5s ease; 
	-o-transition: all 0.5s ease; 
	-ms-transition: all 0.5s ease; 
	transition: all 0.5s ease;
}

*:not(a) {
	-webkit-transition: color 0.5s ease, fill 0.5s ease, background-color 0.5s ease, border-color 0.5s ease, bottom 0.5s ease; 
	-moz-transition: color 0.5s ease, fill 0.5s ease, background-color 0.5s ease, border-color 0.5s ease, bottom 0.5s ease ;  
	-o-transition: color 0.5s ease, fill 0.5s ease, background-color 0.5s ease, border-color 0.5s ease, bottom 0.5s ease ;  
	-ms-transition: color 0.5s ease, fill 0.5s ease, background-color 0.5s ease, border-color 0.5s ease, bottom 0.5s ease ;  
	transition: color 0.5s ease, fill 0.5s ease, background-color 0.5s ease, border-color 0.5s ease, bottom 0.5s ease ; 
}

.rotate {
	display: inline-block;
	-webkit-transition: all 0.5s ease; 
	-moz-transition: all 0.5s ease; 
	-o-transition: all 0.5s ease; 
	-ms-transition: all 0.5s ease; 
	transition: all 0.5s ease;
}

a:hover {
	font-size: 1.70em;
	cursor: pointer;
}

#projects a:hover {
	font-size: 1em;
}

p {
	margin: 10px;
}

#main-title {
	font-size: 3em;
	margin: 0;
	display: inline-block;
	margin-left: 10px;
}

#main-title:hover a {
	font-size: 1em;
	letter-spacing: 3px;
}

#main-title:hover .rotate {
	transform: rotate(40deg);
}

.cap-letter {
	font-size: 2.5em;
	color: #F7CA18;
	font-family: 'Raleway', sans-serif;
}

#moon {
  position: absolute;
  right: -75px;
  top: 40px;
	transform: rotate(40deg);	
	z-index: -1;
	display: none;
}

.moon-circle {
	fill: #F7CA18;
}

#nav-content {
	overflow: visible;
	position: relative;
	width: 100%;
	margin-top: 5%;
}

navbar {
	display: inline-block;
	width: 20%;
	margin: 0;
	text-align: center;
}

navbar ul {
	margin: 0 0 0 20%;
	padding: 0;
}

navbar ul li {
	list-style: none;
	width: 150px;
	padding: 15px;
	font-size: 1.25em;
}

navbar ul li:not(:last-child) {
	border-bottom: 1px solid;
	border-color: #F7CA18;
}

.showing {
	font-size: 1.75em;
}

#content {
	margin: 0;
	display: inline;
	text-align: center;
	height: 100%;
	width: 75%;
	position: absolute;
}

section {
	display: inline-block;
	vertical-align: middle;
}

#projects, #skills, #contact {
	display: none;
}

#projects, #contact {
	margin-top: 75px;
}

#skills ul {
	display: inline-block;
	text-align: center;
	list-style: none;
	margin-top: 10px;
}

.skill-title {
	font-family: sans-serif;
	font-size: 1.1em;
	font-weight: bold;
}

#contact ul {
	margin: 0;
	padding: 0;
}

.email {
	font-size: 1.5em;
	height: 50px;
}

.social-buttons li {
	display: inline-block;
	font-size: 2.5em;
	margin: 15px;
}

.project-img {
	width: 200px;
	height: 100px;
	border: 1px solid gray;
	border-radius: 5px;
	margin: 5px;
}

#about {
	width: 80%;
	font-size: 1.1em;
}

#features {
	height:42px;
	text-align: center;
	line-height: 42px;
	position: fixed;
	bottom: 50px;
	width: 100%;
	min-width: 300px;
}

#feature-buttons {
	height:50px;
	width: 225px;
	margin: auto;
}

#features div div {
	display: inline-block;
	margin: 0 15px;
	float: left;
}

#features a {
	width: 44px;
	display: inline-block;
	border-radius: 22px;
	background-color: #F7CA18;
	height: 44px;
	text-align: center;
}
 
#features i {
	background-color: #F7CA18;
	color: white;
	z-index: 999;
}

footer {
	height: 30px;
	background-color: #F7CA18;
	text-align: center;
	line-height: 30px;
	position: fixed;
	bottom: 0;
	width: 100%;
	color: white;
}

@media screen and (max-width: 980px) {
	#content {
		width: 60%;
		margin-left: 15%;
		margin-bottom: 25px;
		height: 175%;
		overflow-y: scroll;
	}
	#projects {
		margin-top: 0;
	}
	#about {
		width: 90%;
		font-size: 1em;
	}
	#skills {
		font-size: 12px;
	}
	.social-buttons li {
		font-size: 2.0em;
	}
	#feature-buttons {
		float: left;
		margin: 0 0 0 2%;
	}
}

@media screen and (max-width: 600px) {
	#main-title {
    font-size: 2em;
    margin: 0;
    display: inline-block;
    width: 100%;
    text-align: center;
	}
	navbar {
    display: block;
    margin: 0;
    text-align: center;
    width: 100%;
	}
	navbar ul {
    margin: 0;
    width: 100%;
    padding: 0;
    text-align: center;
	}
	navbar ul li:not(:last-child) {
		border-bottom: none;
    border-right: 1px solid;
    border-color: #F7CA18;
	}
	navbar ul li {
    list-style: none;
    width: 100%;
    padding: 15px;
    font-size: 1em;
    display: inline;
	}
	#content {
    width: 100%;
    margin: 0;
    height: auto;
    margin-top: 7%;
  }
	#feature-buttons {
		float: none;
		margin: auto;
	}
	#skills ul {
    padding: 0;
    margin: 15px;
    width: 130px;
	}
	#projects {
    margin-top: 2%;
	}
}

@media screen and (max-width: 390px) {
	#main-title {
    font-size: 1.4em;
	}
	navbar ul li {
    font-size: 0.6em;
	}
	#contact .fa {
    font-size: 25px;
	}
	#skills ul {
    width: auto;
	}
	#about {
		font-size: 0.8em;
		margin-top: 7%;
	}
}