* {
	font-family: 'Raleway', sans-serif;
	font-weight: lighter;
}

body {
	margin: 0;
	color: gray;
}

#projects, #about, #skills {
	display: none;
}

.bold {
	font-weight: bold;
	text-decoration: underline;
}

h1 {
	font-size: 3em;
	margin: 0;
	display: inline-block;
	margin-left: 10px;
}

.cap-letter {
	font-size: 2.5em;
	color: #F7CA18;
}

navbar {
	display: inline-block;
	width: 20%;
	margin: 0;
}

navbar ul {
	margin: 75px 25px;
}

navbar ul li {
	list-style: none;
	width: 150px;
	padding: 15px;
}

navbar ul li:not(:last-child) {
	border-bottom: 1px solid #F7CA18;
}

a {
	color: gray;
	text-decoration: none;
	-webkit-transition: font-size 0.3s ease, letter-spacing 0.3s ease; -moz-transition: font-size 0.3s ease, letter-spacing 0.3s ease; -o-transition: font-size 0.3s ease, letter-spacing 0.3s ease; -ms-transition: font-size 0.3s ease, letter-spacing 0.3s ease; transition: font-size 0.3s ease, letter-spacing 0.3s ease;
}

a:hover {
	font-size: 1.75em;
}

#main-title:hover {
	font-size: 1em;
	letter-spacing: 3px;
}

#content {
	display: inline-block;
	text-align: center;
	width: 75%;
	height: 500px;
	position: absolute;
	line-height: 25px;
}

#projects {
	line-height: 500px;
}

#about {
	width: 75%;
}

#contact {

}

section {
	display: inline-block;
}

ul {
	display: inline-block;
	text-align: center;
	list-style: none;
	margin: 25px;
}

i {
	color: #F7CA18;
}

.project-img {
	width: 200px;
	height: 100px;
	border: 1px solid gray;
	border-radius: 5px;
}

.email {
	font-size: 1.5em;
}

.social-buttons li {
	display: inline-block;
	font-size: 2.5em;
	margin: 15px;
}










footer {
	height: 25px;
	background-color: #F7CA18;
}

