* {
	font-family: 'Raleway', sans-serif;
	font-weight: lighter;
	color: gray;
	max-width: 1500px;
	margin: auto;
}

html {
	background-color: #fdfdfd;
}

#background {
	border: 1px solid gray;
}

#main-title {
	font-size: 3em;
	margin: 0;
	display: inline-block;
	margin-left: 10px;
	width: 100%;
}

#main-title a:hover {
	font-size: 1em;
	letter-spacing: 3px;
}

.cap-letter {
	font-size: 2.5em;
	color: #F7CA18;
	font-family: 'Raleway', sans-serif;
}

#nav-content {
	overflow: hidden;
	position: relative;
	width: 100%;
	margin-top: 50px;
}

navbar {
	display: inline-block;
	width: 20%;
	margin: 0;
	text-align: center;
}

navbar ul {
	margin: 0 0 0 75px;
	padding: 0;
}

navbar ul li {
	list-style: none;
	width: 150px;
	padding: 15px;
	font-size: 1.25em;
}

navbar ul li:not(:last-child) {
	border-bottom: 1px solid #F7CA18;
}

.showing {
	font-size: 1.75em;
}

#content:before {
	content: ' ';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

#content {
	display: inline-block;
	text-align: center;
	width: 80%;
	height: 100%;
	overflow: scroll;
	position: absolute;
	vertical-align: middle;
}

section {
	display: inline-block;
	vertical-align: middle;
}

#projects, #skills, #contact {
	display: none;
}

#skills ul {
	display: inline-block;
	text-align: center;
	list-style: none;
	margin: 25px;
}

.skill-title {
	font-family: sans-serif;
	font-size: 1.1em;
	font-weight: bold;
}

#contact ul {
	margin: 0;
	padding: 0;
}

.email {
	font-size: 1.5em;
}

.social-buttons li {
	display: inline-block;
	font-size: 2.5em;
	margin: 15px;
}

.project-img {
	width: 200px;
	height: 100px;
	border: 1px solid gray;
	border-radius: 5px;
}

#about {
	width: 70%;
	font-size: 1.1em;
}

i {
	color: #F7CA18;
}

a {
	color: gray;
	text-decoration: none;
	-webkit-transition: font-size 0.3s ease, letter-spacing 0.3s ease; 
	-moz-transition: font-size 0.3s ease, letter-spacing 0.3s ease; 
	-o-transition: font-size 0.3s ease, letter-spacing 0.3s ease; 
	-ms-transition: font-size 0.3s ease, letter-spacing 0.3s ease; 
	transition: font-size 0.3s ease, letter-spacing 0.3s ease;
}

a:hover {
	font-size: 1.75em;
}

p {
	margin: 15px;
}

footer {
	height: 30px;
	background-color: #F7CA18;
	text-align: center;
	line-height: 30px;
	position: fixed;
	bottom: 0;
	width: 100%;
	color: white;
}

